/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent scrollbars and ensure content fits within the viewport */
html, body {
    height: 100%;
    overflow: hidden;
    background-color: rgb(225, 217, 204); /* Disable both horizontal and vertical scrollbars */
}

/* Login Page Container */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Full height */
    overflow: hidden; /* Prevents overflow */
}

/* Login Form Container */
.login-container {
    background-color: #31302f;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
    margin-top: 40px;
}

/* Heading */
.login-container h1 {
    color: #fcfcfc;
    font-size: 40px;
    margin-bottom: 50px;
    font-style: italic;
}

/* Form Elements */
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-container input:focus {
    border-color: #5f9ea0;
    outline: none;
}

/* Submit Button */
.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.login-container button:hover {
    background-color: rgb(225, 217, 204);
    color: #000000;
}

.login-container button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

/* Forgot Password and Sign Up Link */
.login-container p {
    font-size: 14px;
    margin-top: 10px;
    color: #555;
}

.login-container span {
    color: #a66715;
    cursor: pointer;
    text-decoration: underline;
}

.login-container span:hover {
    color: #000000;
}

/* Loading Indicator */
.login-container .loading {
    font-size: 14px;
    color: #000000;
    margin-top: 20px;
}

/* Footer Style */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px; /* Adjust height as needed */
    background-color: rgb(225, 217, 204);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
